asgiref==3.8.1
attrs==20.3.0
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.0
Django==5.1
idna==3.7
jellyfish==0.11.2
lib50==3.0.11
packaging==24.1
pexpect==4.9.0
ptyprocess==0.7.0
pycparser==2.22
PyYAML==6.0.2
requests==2.32.3
setuptools==72.1.0
sqlparse==0.5.1
submit50==3.1.5
termcolor==1.1.0
urllib3==2.2.2
